@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  background-color: rgb(4, 71, 71);
  color: white;
}

.header-space a {
  padding-left: 50px;
  text-decoration: none;
  color: white;
}

.gap-space {
  padding-right: 90px;
}

.main-container {
  border: 2px rgb(218, 215, 215) solid;
  margin-top: 8%;
  margin-left: 20%;
  margin-right: 20%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* width: 70%; */
  border-radius: 35px;
  padding: 40px 20px 20px 30px;
  box-shadow: 5px 10px  rgb(149, 140, 140);
}

.section-container h1 {
    font-weight: 700;
    font-size: 40px;
}

.section-container p {
    font-weight: 400;
    font-size: 22px;
    line-height: 44px;

}

.btn {
  background-color: rgb(4, 71, 71);
  padding: 12px 15px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 17px;
}

.btn a {
    color: white;
    text-decoration: none;
}
